# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#vs files
*.suo
*.*db
*.vcxproj*
*.log
*.tlog*
*.idb
*.pdb
*.ilk
*.ipch

*.docx
project1/[^results]*.csv
*.bat
x64/
*.PNG
testing/
initial_files/
*stdafx*
*targetver.h
papers/
gaussian_dist/
results/
